<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link href="/images/design/logo.jpg" rel="icon" type="image/x-icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>

<nav th:insert="fragments/navbar.html" style="background: white"
     class="navbar sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4 border-bottom m-2"></nav>
<div class="container">
    <div class="row">
        <p class="center display-4">Wir sorgen uns um die Fragen der ArtX Community...</p>
        <p class="center display-6 text-muted pb-4">Daher hier alle FAQs im Überblick:</p>
    </div>
    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Wie hoch sind die Lieferkosten?</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Die Lieferkosten betragen 0 Euro weltweit und es gibt keinen Mindesteinkaufswert!
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Wie werden die Kunstwerke &uuml;berpr&uuml;ft?</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Alle Kunstwerke, die zum Verkauf stehen, werden zu uns geschickt und vor Ort &uuml;berpr&uuml;ft.
                        Sollte das Kunstwerk nicht unseren Richtlinien entsprechen, wird es nicht zum Verkauf angeboten.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Wie lange dauert normalerweise der Prozess von der Gemädebestellung über ArtX bishin zur
                            Auslieferung?</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Der Versand variiert je nach Kontinent zwischen 1-3 Wochen.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Seid ihr selbst auch Künstler?</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Bedingt. Schönheit liegt ja bekanntlich im Auge des Betrachters...
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Wie entstand die Idee für ArtX?</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Die Idee für ArtX entstand im Rahmen des Wahlpflichtmoduls Object Oriented Software Development
                        for Business Processes an der Hochschule Augsburg. So wurde nach kurzer Zeit aus der Idee
                        WebshopX die Webseite ArtX!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer.html"></div>
<script crossorigin="anonymous"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>